.idea
coverage_re
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
log.txt
Pipfile.lock
env3.*
.env
env
/plazoleta/.env
/plazoleta/env
/trazabilidad/.env
/trazabilidad/env
/usuarios/.env
/usuarios/env

docs_build
site_build
venv
.venv
/plazoleta/.venv
/plazoleta/venv
/trazabilidad/.venv
/trazabilidad/venv
/usuarios/.venv
/usuarios/venv
docs.zip
archive.zip

# vim temporary files
*~
.*.sw?
.cache
launch.json