fastapi==0.115.6
passlib==1.7.4
pydantic==2.10.4
PyJWT==2.10.1
python-dotenv==1.0.1
SQLAlchemy==2.0.36
uvicorn==0.34.0
aiomysql==0.2.0
python-multipart==0.0.20
greenlet==3.1.1
cryptography==44.0.0
bcrypt==4.2.1
httpx==0.28.1
